@font-face {
  font-family: 'Ubuntu Condensed';
  src: url("../fonts/3971-webfont.woff2") format("woff2"), url("../fonts/3971-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuRegular';
  src: url("../fonts/3976-webfont.woff2") format("woff2"), url("../fonts/3976-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
